body{
  background-color: #253FE1;
}

.icon {
  font-size: 2em;
  cursor: pointer;
  color: white;
}

#sidebar {
  width: 250px;
  position: fixed;
  height: 100vh;
  left: -250px;
  transition: all 700ms linear;
  background-color: #fff;
  z-index: 2;
}

#sidebar.active {
  left: 0px;
}

.toggle-button {
  position: absolute;
  left: 280px;
  top: 20px;
  z-index: 2;
}

#sidebar-options {
  list-style: none;
}

#sidebar-options a {
  text-decoration: none;
  font-size: 1.3em;
  color: #253FE1;
}

#sidebar-options li {
  margin: 5vh 0;
}

#main-table {
  width: 50vw;
  position: fixed;
  top: 20%;
  left: 25%;
  z-index: 1;
}

#main-table table {
  color: #fff;
}

#main-head{
  color: white;
  font-weight: bold;
}